In [1]:
import pandas as pd
denver_parent_data = pd.read_csv("../datasets/denver-data.csv")

In [3]:
print(denver_parent_data.shape[0])

466840

In [9]:
denver_address = pd.read_csv("./denver-address.csv")
print(denver_address.shape[0])
denver_crime = pd.read_csv("./denver-crime.csv")
print(denver_crime.shape[0])
denver_date = pd.read_csv("../merged-datasets/merged-dates.csv")
print(denver_date.shape[0])

92432
466840
1870

In [14]:
denver_date.head()

,date_key,year,month,day,day_of_week,is_weekend,is_american_holiday,american_holiday_name,is_canadian_holiday,canadian_holiday_name
0,2b5d7d9a-514d-433b-85a2-03be036e6763,2016,6,15,Wednesday,False,False,NaN,False,NaN
1,e2737179-2948-4a03-9ecc-d4194e9c1906,2017,10,11,Wednesday,False,False,NaN,False,NaN
2,8d61d2f7-a801-41ce-a5c6-28723900fbd2,2016,3,4,Friday,False,False,NaN,False,NaN
3,9431933a-a62b-42d4-a2ee-ed85e99c0489,2018,1,30,Tuesday,False,False,NaN,False,NaN
4,fea4bd5c-e861-4228-9872-dcb857a1712e,2017,6,22,Thursday,False,False,NaN,False,NaN

In [11]:
#Adding Denver crime-key
denver_parent_data = pd.concat([denver_parent_data, denver_crime], axis=1)
denver_parent_data.head()

,INCIDENT_ID,OFFENSE_ID,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,...,location_name,neighborhood,city,longitude,latitude,crime_key,crime_type,crime_report_time,crime_start_time,crime_end_time
0,2.016377e+09,2.016380e+15,5213,0,weapon-unlawful-discharge-of,all-other-crimes,6/15/2016 11:31:00 PM,NaN,6/15/2016 11:31:00 PM,NaN,...,NaN,montbello,Denver,-104.809881,39.773188,eea886bf-a231-425b-ad4c-769c101d4d82,Other Crimes,23:31:00,23:31:00,NaN
1,2.018600e+10,2.018600e+16,2399,0,theft-other,larceny,10/11/2017 12:30:00 PM,10/11/2017 4:55:00 PM,1/29/2018 5:53:00 PM,NaN,...,NaN,montbello,Denver,-104.809881,39.773188,7953ed57-16be-4527-9ca2-d8438cdb0a23,Theft,17:53:00,12:30:00,16:55:00
2,2.016600e+10,2.016600e+16,2305,0,theft-items-from-vehicle,theft-from-motor-vehicle,3/4/2016 8:00:00 PM,4/25/2016 8:00:00 AM,4/26/2016 9:02:00 PM,2932 S JOSEPHINE ST,...,2932 S JOSEPHINE ST,wellshire,Denver,-104.957381,39.663490,a653f1ea-2c0c-4246-bc53-97db8031e9aa,Theft from Vehicle,21:02:00,20:00:00,08:00:00
3,2.018723e+08,2.018720e+14,2399,0,theft-other,larceny,1/30/2018 7:20:00 PM,NaN,1/30/2018 10:29:00 PM,705 S COLORADO BLVD,...,705 S COLORADO BLVD,belcaro,Denver,-104.941440,39.702698,22c71dbe-b6e8-4f40-8b44-21524725b093,Theft,22:29:00,19:20:00,NaN
4,2.017411e+09,2.017410e+15,2303,0,theft-shoplift,larceny,6/22/2017 8:53:00 PM,NaN,6/23/2017 4:09:00 PM,2810 E 1ST AVE,...,2810 E 1ST AVE,cherry-creek,Denver,-104.955370,39.717107,c3b31f97-e639-4d21-b95c-1d6e4cfc60d7,Theft,16:09:00,20:53:00,NaN

In [12]:
#Adding Denver address-key
denver_parent_data = pd.merge(denver_parent_data, denver_address, how='left', left_on=['INCIDENT_ADDRESS'], right_on = ['location_name'])

In [15]:
date_values = denver_parent_data['FIRST_OCCURRENCE_DATE'].values

year = []
month = []
day = []
completeDay = []

for date in date_values:
    date = date.split() # Split on whitespace
    date = date[0] # Grab first portion which m/d/y
    completeDay.append(date)# Store the complete day to remove duplicates later
    date = date.split('/') # Split into m, d and y and turn into int
    month.append(int(date[0]))
    day.append(int(date[1]))
    year.append(int(date[2]))

denver_parent_data['year'] = year
denver_parent_data['month'] = month
denver_parent_data['day'] = day
denver_parent_data.head()

,INCIDENT_ID,OFFENSE_ID,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,...,crime_end_time,location_key_y,location_name_y,neighborhood_y,city_y,longitude_y,latitude_y,year,month,day
0,2.016377e+09,2.016380e+15,5213,0,weapon-unlawful-discharge-of,all-other-crimes,6/15/2016 11:31:00 PM,NaN,6/15/2016 11:31:00 PM,NaN,...,NaN,dcd36c09-2095-4935-bac2-62bb9ba8738e,NaN,montbello,Denver,-104.809881,39.773188,2016,6,15
1,2.018600e+10,2.018600e+16,2399,0,theft-other,larceny,10/11/2017 12:30:00 PM,10/11/2017 4:55:00 PM,1/29/2018 5:53:00 PM,NaN,...,16:55:00,dcd36c09-2095-4935-bac2-62bb9ba8738e,NaN,montbello,Denver,-104.809881,39.773188,2017,10,11
2,2.016600e+10,2.016600e+16,2305,0,theft-items-from-vehicle,theft-from-motor-vehicle,3/4/2016 8:00:00 PM,4/25/2016 8:00:00 AM,4/26/2016 9:02:00 PM,2932 S JOSEPHINE ST,...,08:00:00,beb00ff6-50f9-47d4-b6ce-fccced9416df,2932 S JOSEPHINE ST,wellshire,Denver,-104.957381,39.663490,2016,3,4
3,2.018723e+08,2.018720e+14,2399,0,theft-other,larceny,1/30/2018 7:20:00 PM,NaN,1/30/2018 10:29:00 PM,705 S COLORADO BLVD,...,NaN,94bb4127-7768-4ac9-bac2-9bf22d883ea4,705 S COLORADO BLVD,belcaro,Denver,-104.941440,39.702698,2018,1,30
4,2.017411e+09,2.017410e+15,2303,0,theft-shoplift,larceny,6/22/2017 8:53:00 PM,NaN,6/23/2017 4:09:00 PM,2810 E 1ST AVE,...,NaN,63c820a1-a440-47ba-a3b9-c6005182d47a,2810 E 1ST AVE,cherry-creek,Denver,-104.955370,39.717107,2017,6,22

In [16]:
#Add Date Key
denver_parent_data = pd.merge(denver_parent_data, denver_date, how='left', left_on=['year', 'month', 'day'], right_on = ['year', 'month', 'day'])
denver_parent_data.head()

,INCIDENT_ID,OFFENSE_ID,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,...,year,month,day,date_key,day_of_week,is_weekend,is_american_holiday,american_holiday_name,is_canadian_holiday,canadian_holiday_name
0,2.016377e+09,2.016380e+15,5213,0,weapon-unlawful-discharge-of,all-other-crimes,6/15/2016 11:31:00 PM,NaN,6/15/2016 11:31:00 PM,NaN,...,2016,6,15,2b5d7d9a-514d-433b-85a2-03be036e6763,Wednesday,False,False,NaN,False,NaN
1,2.018600e+10,2.018600e+16,2399,0,theft-other,larceny,10/11/2017 12:30:00 PM,10/11/2017 4:55:00 PM,1/29/2018 5:53:00 PM,NaN,...,2017,10,11,e2737179-2948-4a03-9ecc-d4194e9c1906,Wednesday,False,False,NaN,False,NaN
2,2.016600e+10,2.016600e+16,2305,0,theft-items-from-vehicle,theft-from-motor-vehicle,3/4/2016 8:00:00 PM,4/25/2016 8:00:00 AM,4/26/2016 9:02:00 PM,2932 S JOSEPHINE ST,...,2016,3,4,8d61d2f7-a801-41ce-a5c6-28723900fbd2,Friday,False,False,NaN,False,NaN
3,2.018723e+08,2.018720e+14,2399,0,theft-other,larceny,1/30/2018 7:20:00 PM,NaN,1/30/2018 10:29:00 PM,705 S COLORADO BLVD,...,2018,1,30,9431933a-a62b-42d4-a2ee-ed85e99c0489,Tuesday,False,False,NaN,False,NaN
4,2.017411e+09,2.017410e+15,2303,0,theft-shoplift,larceny,6/22/2017 8:53:00 PM,NaN,6/23/2017 4:09:00 PM,2810 E 1ST AVE,...,2017,6,22,fea4bd5c-e861-4228-9872-dcb857a1712e,Thursday,False,False,NaN,False,NaN

In [19]:
denver_parent_data[['location_key_x', 'location_key_y']].head()

                         location_key_x                        location_key_y
0  dcd36c09-2095-4935-bac2-62bb9ba8738e  dcd36c09-2095-4935-bac2-62bb9ba8738e
1  dcd36c09-2095-4935-bac2-62bb9ba8738e  dcd36c09-2095-4935-bac2-62bb9ba8738e
2  beb00ff6-50f9-47d4-b6ce-fccced9416df  beb00ff6-50f9-47d4-b6ce-fccced9416df
3  94bb4127-7768-4ac9-bac2-9bf22d883ea4  94bb4127-7768-4ac9-bac2-9bf22d883ea4
4  63c820a1-a440-47ba-a3b9-c6005182d47a  63c820a1-a440-47ba-a3b9-c6005182d47a

In [17]:
print(denver_parent_data.columns.tolist())

['INCIDENT_ID', 'OFFENSE_ID', 'OFFENSE_CODE', 'OFFENSE_CODE_EXTENSION', 'OFFENSE_TYPE_ID', 'OFFENSE_CATEGORY_ID', 'FIRST_OCCURRENCE_DATE', 'LAST_OCCURRENCE_DATE', 'REPORTED_DATE', 'INCIDENT_ADDRESS', 'GEO_X', 'GEO_Y', 'GEO_LON', 'GEO_LAT', 'DISTRICT_ID', 'PRECINCT_ID', 'NEIGHBORHOOD_ID', 'IS_CRIME', 'IS_TRAFFIC', 'crime_key', 'crime_type', 'crime_report_time', 'crime_start_time', 'crime_end_time', 'location_key_x', 'location_name_x', 'neighborhood_x', 'city_x', 'longitude_x', 'latitude_x', 'crime_key', 'crime_type', 'crime_report_time', 'crime_start_time', 'crime_end_time', 'location_key_y', 'location_name_y', 'neighborhood_y', 'city_y', 'longitude_y', 'latitude_y', 'year', 'month', 'day', 'date_key', 'day_of_week', 'is_weekend', 'is_american_holiday', 'american_holiday_name', 'is_canadian_holiday', 'canadian_holiday_name']

In [20]:
#Create denver_fact_table
denver_fact_table = denver_parent_data[['location_key_x', 'date_key', 'crime_key', 'IS_TRAFFIC']]
denver_fact_table.head()

,location_key_x,date_key,crime_key,crime_key,IS_TRAFFIC
0,dcd36c09-2095-4935-bac2-62bb9ba8738e,2b5d7d9a-514d-433b-85a2-03be036e6763,eea886bf-a231-425b-ad4c-769c101d4d82,eea886bf-a231-425b-ad4c-769c101d4d82,0
1,dcd36c09-2095-4935-bac2-62bb9ba8738e,e2737179-2948-4a03-9ecc-d4194e9c1906,7953ed57-16be-4527-9ca2-d8438cdb0a23,7953ed57-16be-4527-9ca2-d8438cdb0a23,0
2,beb00ff6-50f9-47d4-b6ce-fccced9416df,8d61d2f7-a801-41ce-a5c6-28723900fbd2,a653f1ea-2c0c-4246-bc53-97db8031e9aa,a653f1ea-2c0c-4246-bc53-97db8031e9aa,0
3,94bb4127-7768-4ac9-bac2-9bf22d883ea4,9431933a-a62b-42d4-a2ee-ed85e99c0489,22c71dbe-b6e8-4f40-8b44-21524725b093,22c71dbe-b6e8-4f40-8b44-21524725b093,0
4,63c820a1-a440-47ba-a3b9-c6005182d47a,fea4bd5c-e861-4228-9872-dcb857a1712e,c3b31f97-e639-4d21-b95c-1d6e4cfc60d7,c3b31f97-e639-4d21-b95c-1d6e4cfc60d7,0