In [1]:
import pandas as pd 
denver_data = pd.read_csv("../denver-datasets/denver-date.csv") 
vancouver_data = pd.read_csv("../vancouver-datasets/vancouver-date.csv")

In [2]:
denver_data.head(5)

,date_key,year,month,day,day_of_week,is_weekend,is_holiday,holiday_name
0,7b204d79-97d8-4eeb-8815-a64082e5f4f1,2016,6,15,Wednesday,False,False,NaN
1,8ae8bcc1-3af4-46cc-9d4e-c0bce6496a22,2017,10,11,Wednesday,False,False,NaN
2,6a0a1ef3-1ed6-4ef5-abad-2e4466ae33f1,2016,3,4,Friday,False,False,NaN
3,9fcc7225-793e-4dc8-9717-737149233431,2018,1,30,Tuesday,False,False,NaN
4,25df993f-fe14-409a-bdb2-eb2f353a9f45,2017,6,22,Thursday,False,False,NaN

In [3]:
vancouver_data.head(5)

,date_key,year,month,day,day_of_week,is_weekend,is_holiday,holiday_name
0,fa5be413-c1a6-4c47-8f97-830ebfea3916,2019,3,7,Thursday,False,False,NaN
1,ada61889-49ce-43d5-a846-1b7fbdf56f33,2019,8,27,Tuesday,False,False,NaN
2,ffd7c0b2-3816-4b5e-8f6f-a1bea53e55f0,2017,11,14,Tuesday,False,False,NaN
3,f1f6c96a-6a7e-4ed3-be02-a622eca95f94,2018,3,2,Friday,False,False,NaN
4,f4137868-f90f-4200-9442-32f49ed24eb3,2015,2,4,Wednesday,False,False,NaN

In [4]:
denver_data = denver_data.rename(columns={"is_holiday": "is_american_holiday", "holiday_name": "american_holiday_name"}, errors="raise")
denver_data.head(5)

,date_key,year,month,day,day_of_week,is_weekend,is_american_holiday,american_holiday_name
0,7b204d79-97d8-4eeb-8815-a64082e5f4f1,2016,6,15,Wednesday,False,False,NaN
1,8ae8bcc1-3af4-46cc-9d4e-c0bce6496a22,2017,10,11,Wednesday,False,False,NaN
2,6a0a1ef3-1ed6-4ef5-abad-2e4466ae33f1,2016,3,4,Friday,False,False,NaN
3,9fcc7225-793e-4dc8-9717-737149233431,2018,1,30,Tuesday,False,False,NaN
4,25df993f-fe14-409a-bdb2-eb2f353a9f45,2017,6,22,Thursday,False,False,NaN

In [5]:
vancouver_data = vancouver_data.rename(columns={"is_holiday": "is_canadian_holiday", "holiday_name": "canadian_holiday_name"}, errors="raise")
vancouver_data.head()

,date_key,year,month,day,day_of_week,is_weekend,is_canadian_holiday,canadian_holiday_name
0,fa5be413-c1a6-4c47-8f97-830ebfea3916,2019,3,7,Thursday,False,False,NaN
1,ada61889-49ce-43d5-a846-1b7fbdf56f33,2019,8,27,Tuesday,False,False,NaN
2,ffd7c0b2-3816-4b5e-8f6f-a1bea53e55f0,2017,11,14,Tuesday,False,False,NaN
3,f1f6c96a-6a7e-4ed3-be02-a622eca95f94,2018,3,2,Friday,False,False,NaN
4,f4137868-f90f-4200-9442-32f49ed24eb3,2015,2,4,Wednesday,False,False,NaN

In [6]:
# This merges the two datasets together
result = pd.merge(denver_data, vancouver_data, on=['year', 'month', 'day', 'day_of_week', 'is_weekend'])
result = result.drop(['date_key_x', 'date_key_y'], axis=1)
result.head()

,year,month,day,day_of_week,is_weekend,is_american_holiday,american_holiday_name,is_canadian_holiday,canadian_holiday_name
0,2016,6,15,Wednesday,False,False,NaN,False,NaN
1,2017,10,11,Wednesday,False,False,NaN,False,NaN
2,2016,3,4,Friday,False,False,NaN,False,NaN
3,2018,1,30,Tuesday,False,False,NaN,False,NaN
4,2017,6,22,Thursday,False,False,NaN,False,NaN

In [7]:
#add date_key
import uuid
date_keys = []
for i in range(result.shape[0]):
    id = uuid.uuid4() 
    date_keys.append(id)

result['date_key'] = date_keys

result.head()

,year,month,day,day_of_week,is_weekend,is_american_holiday,american_holiday_name,is_canadian_holiday,canadian_holiday_name,date_key
0,2016,6,15,Wednesday,False,False,NaN,False,NaN,8cf6a337-ee9a-40e8-b1e2-d501ffd57b14
1,2017,10,11,Wednesday,False,False,NaN,False,NaN,31286764-bac3-4709-8f1a-a6a1d353969b
2,2016,3,4,Friday,False,False,NaN,False,NaN,d9781132-75cc-435c-bfad-10bd130795f3
3,2018,1,30,Tuesday,False,False,NaN,False,NaN,751ed3dc-fe4f-43ea-b655-f13951ca6519
4,2017,6,22,Thursday,False,False,NaN,False,NaN,c5a92982-6aeb-4cbf-b452-c60b72c67e39

In [8]:
# Shift date_key to the first column
cols = result.columns.tolist()
newcols = [cols[9]] + cols[0:9]
result = result[newcols]
print(cols)

['year', 'month', 'day', 'day_of_week', 'is_weekend', 'is_american_holiday', 'american_holiday_name', 'is_canadian_holiday', 'canadian_holiday_name', 'date_key']

In [9]:
result.head()

,date_key,year,month,day,day_of_week,is_weekend,is_american_holiday,american_holiday_name,is_canadian_holiday,canadian_holiday_name
0,8cf6a337-ee9a-40e8-b1e2-d501ffd57b14,2016,6,15,Wednesday,False,False,NaN,False,NaN
1,31286764-bac3-4709-8f1a-a6a1d353969b,2017,10,11,Wednesday,False,False,NaN,False,NaN
2,d9781132-75cc-435c-bfad-10bd130795f3,2016,3,4,Friday,False,False,NaN,False,NaN
3,751ed3dc-fe4f-43ea-b655-f13951ca6519,2018,1,30,Tuesday,False,False,NaN,False,NaN
4,c5a92982-6aeb-4cbf-b452-c60b72c67e39,2017,6,22,Thursday,False,False,NaN,False,NaN

In [10]:
print('Total number of rows with duplicates:', result.shape[0])

Total number of rows with duplicates: 1870

In [11]:
result.drop_duplicates(subset=["year", "month","day"], inplace=True)
result.head()

,date_key,year,month,day,day_of_week,is_weekend,is_american_holiday,american_holiday_name,is_canadian_holiday,canadian_holiday_name
0,8cf6a337-ee9a-40e8-b1e2-d501ffd57b14,2016,6,15,Wednesday,False,False,NaN,False,NaN
1,31286764-bac3-4709-8f1a-a6a1d353969b,2017,10,11,Wednesday,False,False,NaN,False,NaN
2,d9781132-75cc-435c-bfad-10bd130795f3,2016,3,4,Friday,False,False,NaN,False,NaN
3,751ed3dc-fe4f-43ea-b655-f13951ca6519,2018,1,30,Tuesday,False,False,NaN,False,NaN
4,c5a92982-6aeb-4cbf-b452-c60b72c67e39,2017,6,22,Thursday,False,False,NaN,False,NaN

In [12]:
print('Total number of rows without duplicates:', result.shape[0])

Total number of rows without duplicates: 1870

In [13]:
# Transfer data to csv file
result.to_csv(r'./merged-dates.csv', index = None, header=True)