In [1]:
import pandas as pd
vancouver_data = pd.read_csv("../datasets/vancouver-data.csv")
vancouver_data.head()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
0,Break and Enter Commercial,2012,12,14,8,52,NaN,Oakridge,491285.000000,5.453433e+06
1,Break and Enter Commercial,2019,3,7,2,6,10XX SITKA SQ,Fairview,490612.964805,5.457110e+06
2,Break and Enter Commercial,2019,8,27,4,12,10XX ALBERNI ST,West End,491007.779775,5.459174e+06
3,Break and Enter Commercial,2014,8,8,5,13,10XX ALBERNI ST,West End,491015.943352,5.459166e+06
4,Break and Enter Commercial,2005,11,14,3,9,10XX ALBERNI ST,West End,491021.385727,5.459161e+06

In [2]:
vancouver_date_data = pd.read_csv("./vancouver-date.csv")
vancouver_date_data.head()

,date_key,year,month,day,day_of_week,is_weekend,is_holiday,holiday_name
0,f662d2a2-dd73-4f57-a64e-756b4ba12220,2012,12,14,Friday,False,False,NaN
1,aa72acce-38b2-4616-9536-686a766ebf9a,2019,3,7,Thursday,False,False,NaN
2,61c4d012-7df2-4601-ba84-316e98625199,2019,8,27,Tuesday,False,False,NaN
3,0b1bcd0c-3810-4820-8b01-7995f10c54bb,2014,8,8,Friday,False,False,NaN
4,0d305dd0-6b0c-4d4b-927a-f8e07c759cf7,2005,11,14,Monday,False,False,NaN

In [7]:
#writing a function that retrieves the date row associated with a row in the original dataset
#The function is being sampled here as well
def get_address_key(orig_dataset_row):
    for index, van_date_row in vancouver_date_data.iterrows():
        if van_date_row['year'] == orig_dataset_row['YEAR'] and van_date_row['month'] == orig_dataset_row['MONTH'] and van_date_row['day'] == orig_dataset_row['DAY']:
                return van_date_row['date_key']

print(get_address_key(vancouver_data.iloc[4]))

0d305dd0-6b0c-4d4b-927a-f8e07c759cf7

In [12]:
#The function created above is now being used to create the date_key column of the vancouver_fact_table
from tqdm.notebook import tqdm as tn
vancouver_data['date_key'] = [get_address_key(row) for idx, row in tn(vancouver_data.iterrows())]

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

KeyboardInterrupt:

In [ ]:
vancouver_data.to_pickle('fact_table_date_key.pickle')