In [1]:
import pandas as pd
vancouver_data = pd.read_csv("./vancouver-parent_data.csv")
print(vancouver_data.shape[0])

193378

In [2]:
vancouver_date_data = pd.read_csv("./vancouver-date.csv")
print(vancouver_date_data.shape[0])

vancouver_address_data = pd.read_csv("./vancouver-address.csv")
print(vancouver_address_data.shape[0])

vancouver_crime_data = pd.read_csv("./vancouver-crime.csv")
print(vancouver_crime_data.shape[0])


# vancouver_date_data.head()

1871
193378
193378

In [3]:
vancouver_data.head(5)

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
0,Break and Enter Commercial,2019,3,7,2,6,10XX SITKA SQ,Fairview,490612.964805,5.457110e+06
1,Break and Enter Commercial,2019,8,27,4,12,10XX ALBERNI ST,West End,491007.779775,5.459174e+06
2,Break and Enter Commercial,2017,11,14,20,0,10XX ALBERNI ST,West End,491051.085574,5.459144e+06
3,Break and Enter Commercial,2018,3,2,6,17,10XX ALBERNI ST,West End,491058.816893,5.459123e+06
4,Break and Enter Commercial,2015,2,4,20,53,10XX ALBERNI ST,West End,491067.645985,5.459114e+06

In [4]:
vancouver_date_data.head(5)

,date_key,year,month,day,day_of_week,is_weekend,is_holiday,holiday_name
0,fa5be413-c1a6-4c47-8f97-830ebfea3916,2019,3,7,Thursday,False,False,NaN
1,ada61889-49ce-43d5-a846-1b7fbdf56f33,2019,8,27,Tuesday,False,False,NaN
2,ffd7c0b2-3816-4b5e-8f6f-a1bea53e55f0,2017,11,14,Tuesday,False,False,NaN
3,f1f6c96a-6a7e-4ed3-be02-a622eca95f94,2018,3,2,Friday,False,False,NaN
4,f4137868-f90f-4200-9442-32f49ed24eb3,2015,2,4,Wednesday,False,False,NaN

In [5]:
#SAMPLE TEST
# sample_van_data = vancouver_data.iloc[0:5]
# sample_date_data = vancouver_date_data.iloc[0:5]
# new_van_data_sample = pd.merge(sample_van_data, sample_date_data, how='left', left_on=['YEAR','MONTH', 'DAY'], right_on = ['year','month', 'day'])
# new_van_data_sample.head()

In [6]:
#MERGING VAN_DATA W/ VAN_DATE_DATA
new_van_data = pd.merge(vancouver_data, vancouver_date_data, how='left', left_on=['YEAR','MONTH', 'DAY'], right_on = ['year','month', 'day'])

In [7]:
#TEST
# new_van_data.loc[(new_van_data['YEAR'] == 2019) & (new_van_data['MONTH'] == 5) & (new_van_data['DAY'] == 5)]

In [8]:
new_van_data.head()

new_van_data = new_van_data.iloc[:, :11]
new_van_data.head()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y,date_key
0,Break and Enter Commercial,2019,3,7,2,6,10XX SITKA SQ,Fairview,490612.964805,5.457110e+06,fa5be413-c1a6-4c47-8f97-830ebfea3916
1,Break and Enter Commercial,2019,8,27,4,12,10XX ALBERNI ST,West End,491007.779775,5.459174e+06,ada61889-49ce-43d5-a846-1b7fbdf56f33
2,Break and Enter Commercial,2017,11,14,20,0,10XX ALBERNI ST,West End,491051.085574,5.459144e+06,ffd7c0b2-3816-4b5e-8f6f-a1bea53e55f0
3,Break and Enter Commercial,2018,3,2,6,17,10XX ALBERNI ST,West End,491058.816893,5.459123e+06,f1f6c96a-6a7e-4ed3-be02-a622eca95f94
4,Break and Enter Commercial,2015,2,4,20,53,10XX ALBERNI ST,West End,491067.645985,5.459114e+06,f4137868-f90f-4200-9442-32f49ed24eb3

In [9]:
#Adding Address Key
new_van_data = pd.concat([new_van_data, vancouver_address_data], axis=1)
new_van_data.head()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y,date_key,location_key,location_name,neighborhood,city,longitude,latitude
0,Break and Enter Commercial,2019,3,7,2,6,10XX SITKA SQ,Fairview,490612.964805,5.457110e+06,fa5be413-c1a6-4c47-8f97-830ebfea3916,cabe6086-2f74-4e35-86a5-041a0a0bc4d8,10XX SITKA SQ,Fairview,Vancouver,-123.129029,49.266678
1,Break and Enter Commercial,2019,8,27,4,12,10XX ALBERNI ST,West End,491007.779775,5.459174e+06,ada61889-49ce-43d5-a846-1b7fbdf56f33,6d9a8448-f6d0-4442-812d-1842de3e649d,10XX ALBERNI ST,West End,Vancouver,-123.123649,49.285255
2,Break and Enter Commercial,2017,11,14,20,0,10XX ALBERNI ST,West End,491051.085574,5.459144e+06,ffd7c0b2-3816-4b5e-8f6f-a1bea53e55f0,8bb6dcd0-f23d-4a4f-aaaa-b7e41407b1dd,10XX ALBERNI ST,West End,Vancouver,-123.123053,49.284981
3,Break and Enter Commercial,2018,3,2,6,17,10XX ALBERNI ST,West End,491058.816893,5.459123e+06,f1f6c96a-6a7e-4ed3-be02-a622eca95f94,3cb39f04-d3a3-4b8c-96c1-04606b4436f9,10XX ALBERNI ST,West End,Vancouver,-123.122946,49.284794
4,Break and Enter Commercial,2015,2,4,20,53,10XX ALBERNI ST,West End,491067.645985,5.459114e+06,f4137868-f90f-4200-9442-32f49ed24eb3,9b2d3de9-e7b6-4fc2-82d4-8446b3255cd1,10XX ALBERNI ST,West End,Vancouver,-123.122824,49.284715

In [10]:
new_van_data = new_van_data.iloc[:, :12]
new_van_data.head()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y,date_key,location_key
0,Break and Enter Commercial,2019,3,7,2,6,10XX SITKA SQ,Fairview,490612.964805,5.457110e+06,fa5be413-c1a6-4c47-8f97-830ebfea3916,cabe6086-2f74-4e35-86a5-041a0a0bc4d8
1,Break and Enter Commercial,2019,8,27,4,12,10XX ALBERNI ST,West End,491007.779775,5.459174e+06,ada61889-49ce-43d5-a846-1b7fbdf56f33,6d9a8448-f6d0-4442-812d-1842de3e649d
2,Break and Enter Commercial,2017,11,14,20,0,10XX ALBERNI ST,West End,491051.085574,5.459144e+06,ffd7c0b2-3816-4b5e-8f6f-a1bea53e55f0,8bb6dcd0-f23d-4a4f-aaaa-b7e41407b1dd
3,Break and Enter Commercial,2018,3,2,6,17,10XX ALBERNI ST,West End,491058.816893,5.459123e+06,f1f6c96a-6a7e-4ed3-be02-a622eca95f94,3cb39f04-d3a3-4b8c-96c1-04606b4436f9
4,Break and Enter Commercial,2015,2,4,20,53,10XX ALBERNI ST,West End,491067.645985,5.459114e+06,f4137868-f90f-4200-9442-32f49ed24eb3,9b2d3de9-e7b6-4fc2-82d4-8446b3255cd1

In [11]:
new_van_data = pd.concat([new_van_data, vancouver_crime_data], axis=1)

In [12]:
new_van_data = new_van_data.iloc[:, :13]
new_van_data.head()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y,date_key,location_key,crime_key
0,Break and Enter Commercial,2019,3,7,2,6,10XX SITKA SQ,Fairview,490612.964805,5.457110e+06,fa5be413-c1a6-4c47-8f97-830ebfea3916,cabe6086-2f74-4e35-86a5-041a0a0bc4d8,9473fc10-b616-4d33-ac4c-713de667df22
1,Break and Enter Commercial,2019,8,27,4,12,10XX ALBERNI ST,West End,491007.779775,5.459174e+06,ada61889-49ce-43d5-a846-1b7fbdf56f33,6d9a8448-f6d0-4442-812d-1842de3e649d,c1f9bf44-cf15-4d74-87c5-9a4b407e5ad4
2,Break and Enter Commercial,2017,11,14,20,0,10XX ALBERNI ST,West End,491051.085574,5.459144e+06,ffd7c0b2-3816-4b5e-8f6f-a1bea53e55f0,8bb6dcd0-f23d-4a4f-aaaa-b7e41407b1dd,3bbd5df5-623d-450f-bf5f-bc94bd2c788e
3,Break and Enter Commercial,2018,3,2,6,17,10XX ALBERNI ST,West End,491058.816893,5.459123e+06,f1f6c96a-6a7e-4ed3-be02-a622eca95f94,3cb39f04-d3a3-4b8c-96c1-04606b4436f9,fd376b38-38b0-4113-9543-1ebca04f39b2
4,Break and Enter Commercial,2015,2,4,20,53,10XX ALBERNI ST,West End,491067.645985,5.459114e+06,f4137868-f90f-4200-9442-32f49ed24eb3,9b2d3de9-e7b6-4fc2-82d4-8446b3255cd1,8b3562ca-f19e-4d75-8a2f-75501912f695

In [13]:
#Adding the is_nighttime column
#used this link for reference as to what was day and what was night: https://www.englishclub.com/vocabulary/time-day-night.htm
def is_nighttime(row):
    if row['HOUR'] >= 18 or row['HOUR'] <= 6:
        return 1
    else:
        return 0

new_van_data['is_nighttime'] = new_van_data.apply (lambda row: is_nighttime(row), axis=1)

new_van_data.head()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y,date_key,location_key,crime_key,is_nighttime
0,Break and Enter Commercial,2019,3,7,2,6,10XX SITKA SQ,Fairview,490612.964805,5.457110e+06,fa5be413-c1a6-4c47-8f97-830ebfea3916,cabe6086-2f74-4e35-86a5-041a0a0bc4d8,9473fc10-b616-4d33-ac4c-713de667df22,1
1,Break and Enter Commercial,2019,8,27,4,12,10XX ALBERNI ST,West End,491007.779775,5.459174e+06,ada61889-49ce-43d5-a846-1b7fbdf56f33,6d9a8448-f6d0-4442-812d-1842de3e649d,c1f9bf44-cf15-4d74-87c5-9a4b407e5ad4,1
2,Break and Enter Commercial,2017,11,14,20,0,10XX ALBERNI ST,West End,491051.085574,5.459144e+06,ffd7c0b2-3816-4b5e-8f6f-a1bea53e55f0,8bb6dcd0-f23d-4a4f-aaaa-b7e41407b1dd,3bbd5df5-623d-450f-bf5f-bc94bd2c788e,1
3,Break and Enter Commercial,2018,3,2,6,17,10XX ALBERNI ST,West End,491058.816893,5.459123e+06,f1f6c96a-6a7e-4ed3-be02-a622eca95f94,3cb39f04-d3a3-4b8c-96c1-04606b4436f9,fd376b38-38b0-4113-9543-1ebca04f39b2,1
4,Break and Enter Commercial,2015,2,4,20,53,10XX ALBERNI ST,West End,491067.645985,5.459114e+06,f4137868-f90f-4200-9442-32f49ed24eb3,9b2d3de9-e7b6-4fc2-82d4-8446b3255cd1,8b3562ca-f19e-4d75-8a2f-75501912f695,1

In [14]:
# Output the types of crimes in dataset
new_van_data.TYPE.unique()

array(['Break and Enter Commercial', 'Break and Enter Residential/Other',
       'Homicide', 'Mischief', 'Offence Against a Person', 'Other Theft',
       'Theft from Vehicle', 'Theft of Bicycle', 'Theft of Vehicle',
       'Vehicle Collision or Pedestrian Struck (with Fatality)',
       'Vehicle Collision or Pedestrian Struck (with Injury)'],
      dtype=object)

In [15]:
# Add a new column for is_traffic and is_fatal
is_fatal = []
is_traffic = []
for crime_type in new_van_data['TYPE']:
    if crime_type == 'Homicide' or crime_type == 'Vehicle Collision or Pedestrian Struck (with Fatality)':
        is_fatal.append(1)
    else: is_fatal.append(0)
    if crime_type == 'Vehicle Collision or Pedestrian Struck (with Fatality)' or crime_type == 'Vehicle Collision or Pedestrian Struck (with Injury)':
        is_traffic.append(1)
    else: is_traffic.append(0)

new_van_data['is_fatal'] = is_fatal
new_van_data['is_traffic'] = is_traffic

In [16]:
new_van_data.head(5)

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y,date_key,location_key,crime_key,is_nighttime,is_fatal,is_traffic
0,Break and Enter Commercial,2019,3,7,2,6,10XX SITKA SQ,Fairview,490612.964805,5.457110e+06,fa5be413-c1a6-4c47-8f97-830ebfea3916,cabe6086-2f74-4e35-86a5-041a0a0bc4d8,9473fc10-b616-4d33-ac4c-713de667df22,1,0,0
1,Break and Enter Commercial,2019,8,27,4,12,10XX ALBERNI ST,West End,491007.779775,5.459174e+06,ada61889-49ce-43d5-a846-1b7fbdf56f33,6d9a8448-f6d0-4442-812d-1842de3e649d,c1f9bf44-cf15-4d74-87c5-9a4b407e5ad4,1,0,0
2,Break and Enter Commercial,2017,11,14,20,0,10XX ALBERNI ST,West End,491051.085574,5.459144e+06,ffd7c0b2-3816-4b5e-8f6f-a1bea53e55f0,8bb6dcd0-f23d-4a4f-aaaa-b7e41407b1dd,3bbd5df5-623d-450f-bf5f-bc94bd2c788e,1,0,0
3,Break and Enter Commercial,2018,3,2,6,17,10XX ALBERNI ST,West End,491058.816893,5.459123e+06,f1f6c96a-6a7e-4ed3-be02-a622eca95f94,3cb39f04-d3a3-4b8c-96c1-04606b4436f9,fd376b38-38b0-4113-9543-1ebca04f39b2,1,0,0
4,Break and Enter Commercial,2015,2,4,20,53,10XX ALBERNI ST,West End,491067.645985,5.459114e+06,f4137868-f90f-4200-9442-32f49ed24eb3,9b2d3de9-e7b6-4fc2-82d4-8446b3255cd1,8b3562ca-f19e-4d75-8a2f-75501912f695,1,0,0

In [17]:
# Drop all uneeded columns
new_van_data = new_van_data.drop(['YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'HUNDRED_BLOCK', 'NEIGHBOURHOOD', 'X', 'Y', 'TYPE'], axis=1)
new_van_data.head(5)

,date_key,location_key,crime_key,is_nighttime,is_fatal,is_traffic
0,fa5be413-c1a6-4c47-8f97-830ebfea3916,cabe6086-2f74-4e35-86a5-041a0a0bc4d8,9473fc10-b616-4d33-ac4c-713de667df22,1,0,0
1,ada61889-49ce-43d5-a846-1b7fbdf56f33,6d9a8448-f6d0-4442-812d-1842de3e649d,c1f9bf44-cf15-4d74-87c5-9a4b407e5ad4,1,0,0
2,ffd7c0b2-3816-4b5e-8f6f-a1bea53e55f0,8bb6dcd0-f23d-4a4f-aaaa-b7e41407b1dd,3bbd5df5-623d-450f-bf5f-bc94bd2c788e,1,0,0
3,f1f6c96a-6a7e-4ed3-be02-a622eca95f94,3cb39f04-d3a3-4b8c-96c1-04606b4436f9,fd376b38-38b0-4113-9543-1ebca04f39b2,1,0,0
4,f4137868-f90f-4200-9442-32f49ed24eb3,9b2d3de9-e7b6-4fc2-82d4-8446b3255cd1,8b3562ca-f19e-4d75-8a2f-75501912f695,1,0,0

In [19]:
new_van_data.to_csv('./vancouver_fact_table.csv', index=False)