In [4]:
import pandas as pd
#Import both parent datasets
vancouver_data = pd.read_csv("../datasets/vancouver-data.csv")
denver_data = pd.read_csv("../datasets/denver-data.csv")

In [7]:
#find the min and max years of vancouver
print(vancouver_data['YEAR'].min())
print(vancouver_data['YEAR'].max())

2003
2020

In [9]:
#Importing the denver dataset since its better preprocesses
denver_date_dataset = pd.read_csv("../denver-datasets/denver-date.csv")
#find the min and max years of denver
print(denver_date_dataset['year'].min())
print(denver_date_dataset['year'].max())

2015
2020

In [14]:
print(vancouver_data.shape[0])
vancouver_data.head()

634278

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
0,Break and Enter Commercial,2012,12,14,8,52,NaN,Oakridge,491285.000000,5.453433e+06
1,Break and Enter Commercial,2019,3,7,2,6,10XX SITKA SQ,Fairview,490612.964805,5.457110e+06
2,Break and Enter Commercial,2019,8,27,4,12,10XX ALBERNI ST,West End,491007.779775,5.459174e+06
3,Break and Enter Commercial,2014,8,8,5,13,10XX ALBERNI ST,West End,491015.943352,5.459166e+06
4,Break and Enter Commercial,2005,11,14,3,9,10XX ALBERNI ST,West End,491021.385727,5.459161e+06

In [18]:
#drop all rows that are from 2003 to 2014 in the vancouver dataset
indexCrime = vancouver_data[ (vancouver_data['YEAR'] >= 2003) & (vancouver_data['YEAR'] <= 2014)].index

# Delete these row indexes from dataFrame
vancouver_data.drop(indexCrime , inplace=True)
print(denver_date_dataset.shape[0])

1870

In [19]:
vancouver_data.head()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
1,Break and Enter Commercial,2019,3,7,2,6,10XX SITKA SQ,Fairview,490612.964805,5.457110e+06
2,Break and Enter Commercial,2019,8,27,4,12,10XX ALBERNI ST,West End,491007.779775,5.459174e+06
10,Break and Enter Commercial,2017,11,14,20,0,10XX ALBERNI ST,West End,491051.085574,5.459144e+06
11,Break and Enter Commercial,2018,3,2,6,17,10XX ALBERNI ST,West End,491058.816893,5.459123e+06
24,Break and Enter Commercial,2015,2,4,20,53,10XX ALBERNI ST,West End,491067.645985,5.459114e+06