In [2]:
import pandas as pd
denver_parent_data = pd.read_csv("../datasets/denver-data.csv")

In [3]:
denver_address = pd.read_csv("./denver-address.csv")
denver_crime = pd.read_csv("./denver-crime.csv")
denver_date = pd.read_csv("../merged-datasets/merged-dates.csv")

In [4]:
#Adding Denver crime-key
denver_parent_data = pd.concat([denver_parent_data, denver_crime], axis=1)
denver_parent_data.head()

,INCIDENT_ID,OFFENSE_ID,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,...,DISTRICT_ID,PRECINCT_ID,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC,crime_key,crime_type,crime_report_time,crime_start_time,crime_end_time
0,2.016377e+09,2.016380e+15,5213,0,weapon-unlawful-discharge-of,all-other-crimes,6/15/2016 11:31:00 PM,NaN,6/15/2016 11:31:00 PM,NaN,...,5,521,montbello,1,0,eea886bf-a231-425b-ad4c-769c101d4d82,Other Crimes,23:31:00,23:31:00,NaN
1,2.018600e+10,2.018600e+16,2399,0,theft-other,larceny,10/11/2017 12:30:00 PM,10/11/2017 4:55:00 PM,1/29/2018 5:53:00 PM,NaN,...,5,522,gateway-green-valley-ranch,1,0,7953ed57-16be-4527-9ca2-d8438cdb0a23,Theft,17:53:00,12:30:00,16:55:00
2,2.016600e+10,2.016600e+16,2305,0,theft-items-from-vehicle,theft-from-motor-vehicle,3/4/2016 8:00:00 PM,4/25/2016 8:00:00 AM,4/26/2016 9:02:00 PM,2932 S JOSEPHINE ST,...,3,314,wellshire,1,0,a653f1ea-2c0c-4246-bc53-97db8031e9aa,Theft from Vehicle,21:02:00,20:00:00,08:00:00
3,2.018723e+08,2.018720e+14,2399,0,theft-other,larceny,1/30/2018 7:20:00 PM,NaN,1/30/2018 10:29:00 PM,705 S COLORADO BLVD,...,3,312,belcaro,1,0,22c71dbe-b6e8-4f40-8b44-21524725b093,Theft,22:29:00,19:20:00,NaN
4,2.017411e+09,2.017410e+15,2303,0,theft-shoplift,larceny,6/22/2017 8:53:00 PM,NaN,6/23/2017 4:09:00 PM,2810 E 1ST AVE,...,3,311,cherry-creek,1,0,c3b31f97-e639-4d21-b95c-1d6e4cfc60d7,Theft,16:09:00,20:53:00,NaN

In [5]:
#only picking colummns that are needed
denver_parent_data = denver_parent_data[['crime_key', 'INCIDENT_ADDRESS', 'FIRST_OCCURRENCE_DATE', 'IS_TRAFFIC', 'crime_report_time', 'crime_type']]

In [6]:
#Adding Denver address-key
denver_parent_data = pd.merge(denver_parent_data, denver_address, how='left', left_on=['INCIDENT_ADDRESS'], right_on = ['location_name'])

In [7]:
denver_parent_data.head()

,crime_key,INCIDENT_ADDRESS,FIRST_OCCURRENCE_DATE,IS_TRAFFIC,crime_report_time,crime_type,location_key,location_name,neighborhood,city,longitude,latitude
0,eea886bf-a231-425b-ad4c-769c101d4d82,NaN,6/15/2016 11:31:00 PM,0,23:31:00,Other Crimes,dcd36c09-2095-4935-bac2-62bb9ba8738e,NaN,montbello,Denver,-104.809881,39.773188
1,7953ed57-16be-4527-9ca2-d8438cdb0a23,NaN,10/11/2017 12:30:00 PM,0,17:53:00,Theft,dcd36c09-2095-4935-bac2-62bb9ba8738e,NaN,montbello,Denver,-104.809881,39.773188
2,a653f1ea-2c0c-4246-bc53-97db8031e9aa,2932 S JOSEPHINE ST,3/4/2016 8:00:00 PM,0,21:02:00,Theft from Vehicle,beb00ff6-50f9-47d4-b6ce-fccced9416df,2932 S JOSEPHINE ST,wellshire,Denver,-104.957381,39.663490
3,22c71dbe-b6e8-4f40-8b44-21524725b093,705 S COLORADO BLVD,1/30/2018 7:20:00 PM,0,22:29:00,Theft,94bb4127-7768-4ac9-bac2-9bf22d883ea4,705 S COLORADO BLVD,belcaro,Denver,-104.941440,39.702698
4,c3b31f97-e639-4d21-b95c-1d6e4cfc60d7,2810 E 1ST AVE,6/22/2017 8:53:00 PM,0,16:09:00,Theft,63c820a1-a440-47ba-a3b9-c6005182d47a,2810 E 1ST AVE,cherry-creek,Denver,-104.955370,39.717107

In [8]:
#Drop unnecessary columns
denver_parent_data = denver_parent_data.iloc[:, 0:7]
denver_parent_data.head()

,crime_key,INCIDENT_ADDRESS,FIRST_OCCURRENCE_DATE,IS_TRAFFIC,crime_report_time,crime_type,location_key
0,eea886bf-a231-425b-ad4c-769c101d4d82,NaN,6/15/2016 11:31:00 PM,0,23:31:00,Other Crimes,dcd36c09-2095-4935-bac2-62bb9ba8738e
1,7953ed57-16be-4527-9ca2-d8438cdb0a23,NaN,10/11/2017 12:30:00 PM,0,17:53:00,Theft,dcd36c09-2095-4935-bac2-62bb9ba8738e
2,a653f1ea-2c0c-4246-bc53-97db8031e9aa,2932 S JOSEPHINE ST,3/4/2016 8:00:00 PM,0,21:02:00,Theft from Vehicle,beb00ff6-50f9-47d4-b6ce-fccced9416df
3,22c71dbe-b6e8-4f40-8b44-21524725b093,705 S COLORADO BLVD,1/30/2018 7:20:00 PM,0,22:29:00,Theft,94bb4127-7768-4ac9-bac2-9bf22d883ea4
4,c3b31f97-e639-4d21-b95c-1d6e4cfc60d7,2810 E 1ST AVE,6/22/2017 8:53:00 PM,0,16:09:00,Theft,63c820a1-a440-47ba-a3b9-c6005182d47a

In [9]:
#Split Reported time into year, month, day
date_values = denver_parent_data['FIRST_OCCURRENCE_DATE'].values

year = []
month = []
day = []
completeDay = []

for date in date_values:
    date = date.split() # Split on whitespace
    date = date[0] # Grab first portion which m/d/y
    completeDay.append(date)# Store the complete day to remove duplicates later
    date = date.split('/') # Split into m, d and y and turn into int
    month.append(int(date[0]))
    day.append(int(date[1]))
    year.append(int(date[2]))

denver_parent_data['year'] = year
denver_parent_data['month'] = month
denver_parent_data['day'] = day
denver_parent_data.head()

,crime_key,INCIDENT_ADDRESS,FIRST_OCCURRENCE_DATE,IS_TRAFFIC,crime_report_time,crime_type,location_key,year,month,day
0,eea886bf-a231-425b-ad4c-769c101d4d82,NaN,6/15/2016 11:31:00 PM,0,23:31:00,Other Crimes,dcd36c09-2095-4935-bac2-62bb9ba8738e,2016,6,15
1,7953ed57-16be-4527-9ca2-d8438cdb0a23,NaN,10/11/2017 12:30:00 PM,0,17:53:00,Theft,dcd36c09-2095-4935-bac2-62bb9ba8738e,2017,10,11
2,a653f1ea-2c0c-4246-bc53-97db8031e9aa,2932 S JOSEPHINE ST,3/4/2016 8:00:00 PM,0,21:02:00,Theft from Vehicle,beb00ff6-50f9-47d4-b6ce-fccced9416df,2016,3,4
3,22c71dbe-b6e8-4f40-8b44-21524725b093,705 S COLORADO BLVD,1/30/2018 7:20:00 PM,0,22:29:00,Theft,94bb4127-7768-4ac9-bac2-9bf22d883ea4,2018,1,30
4,c3b31f97-e639-4d21-b95c-1d6e4cfc60d7,2810 E 1ST AVE,6/22/2017 8:53:00 PM,0,16:09:00,Theft,63c820a1-a440-47ba-a3b9-c6005182d47a,2017,6,22

In [10]:
#Add Date Key
denver_parent_data = pd.merge(denver_parent_data, denver_date, how='left', left_on=['year', 'month', 'day'], right_on = ['year', 'month', 'day'])

In [52]:
#Create denver_fact_table
denver_fact_table = denver_parent_data[['location_key', 'date_key', 'crime_key', 'IS_TRAFFIC', 'crime_report_time', 'crime_type']]
denver_fact_table.head()

,location_key,date_key,crime_key,IS_TRAFFIC,crime_report_time,crime_type
0,dcd36c09-2095-4935-bac2-62bb9ba8738e,dd30cdbb-dd8a-4dc6-80e3-ba07407a4ff7,eea886bf-a231-425b-ad4c-769c101d4d82,0,23:31:00,Other Crimes
1,dcd36c09-2095-4935-bac2-62bb9ba8738e,30cfd6cd-2f56-4da2-920e-09cc958fe766,7953ed57-16be-4527-9ca2-d8438cdb0a23,0,17:53:00,Theft
2,beb00ff6-50f9-47d4-b6ce-fccced9416df,c4f2a260-7bc4-4ba4-8961-240e13db85ae,a653f1ea-2c0c-4246-bc53-97db8031e9aa,0,21:02:00,Theft from Vehicle
3,94bb4127-7768-4ac9-bac2-9bf22d883ea4,10e79260-6164-4ac2-94c9-8dba650b1abd,22c71dbe-b6e8-4f40-8b44-21524725b093,0,22:29:00,Theft
4,63c820a1-a440-47ba-a3b9-c6005182d47a,c0a01024-1be7-4763-ad42-a6bd4737268f,c3b31f97-e639-4d21-b95c-1d6e4cfc60d7,0,16:09:00,Theft

In [53]:
# Add a new column for is_traffic and is_fatal
is_fatal = []
for crime_type in denver_fact_table['crime_type']:
    if crime_type == 'Homicide' or crime_type == 'Vehicle Collision or Pedestrian Struck (with Fatality)':
        is_fatal.append(1)
    else: is_fatal.append(0)

denver_fact_table['is_fatal'] = is_fatal
denver_fact_table.head()

/home/zaid/.local/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,location_key,date_key,crime_key,IS_TRAFFIC,crime_report_time,crime_type,is_fatal
0,dcd36c09-2095-4935-bac2-62bb9ba8738e,dd30cdbb-dd8a-4dc6-80e3-ba07407a4ff7,eea886bf-a231-425b-ad4c-769c101d4d82,0,23:31:00,Other Crimes,0
1,dcd36c09-2095-4935-bac2-62bb9ba8738e,30cfd6cd-2f56-4da2-920e-09cc958fe766,7953ed57-16be-4527-9ca2-d8438cdb0a23,0,17:53:00,Theft,0
2,beb00ff6-50f9-47d4-b6ce-fccced9416df,c4f2a260-7bc4-4ba4-8961-240e13db85ae,a653f1ea-2c0c-4246-bc53-97db8031e9aa,0,21:02:00,Theft from Vehicle,0
3,94bb4127-7768-4ac9-bac2-9bf22d883ea4,10e79260-6164-4ac2-94c9-8dba650b1abd,22c71dbe-b6e8-4f40-8b44-21524725b093,0,22:29:00,Theft,0
4,63c820a1-a440-47ba-a3b9-c6005182d47a,c0a01024-1be7-4763-ad42-a6bd4737268f,c3b31f97-e639-4d21-b95c-1d6e4cfc60d7,0,16:09:00,Theft,0

In [58]:
def is_nighttime(row):
    hrs = row['crime_report_time'][0].split(':')[0]
    if int(hrs) >= 18 or int(hrs) <= 6:
        return 1
    else:
        return 0

denver_fact_table['is_nighttime'] = denver_fact_table.apply (lambda row: is_nighttime(row), axis=1)

/home/zaid/.local/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [59]:
denver_fact_table.head()

,location_key,date_key,crime_key,IS_TRAFFIC,crime_report_time,crime_type,is_fatal,is_nighttime
0,dcd36c09-2095-4935-bac2-62bb9ba8738e,dd30cdbb-dd8a-4dc6-80e3-ba07407a4ff7,eea886bf-a231-425b-ad4c-769c101d4d82,0,23:31:00,Other Crimes,0,1
1,dcd36c09-2095-4935-bac2-62bb9ba8738e,30cfd6cd-2f56-4da2-920e-09cc958fe766,7953ed57-16be-4527-9ca2-d8438cdb0a23,0,17:53:00,Theft,0,1
2,beb00ff6-50f9-47d4-b6ce-fccced9416df,c4f2a260-7bc4-4ba4-8961-240e13db85ae,a653f1ea-2c0c-4246-bc53-97db8031e9aa,0,21:02:00,Theft from Vehicle,0,1
3,94bb4127-7768-4ac9-bac2-9bf22d883ea4,10e79260-6164-4ac2-94c9-8dba650b1abd,22c71dbe-b6e8-4f40-8b44-21524725b093,0,22:29:00,Theft,0,1
4,63c820a1-a440-47ba-a3b9-c6005182d47a,c0a01024-1be7-4763-ad42-a6bd4737268f,c3b31f97-e639-4d21-b95c-1d6e4cfc60d7,0,16:09:00,Theft,0,1

In [62]:
denver_fact_table.drop(['crime_type', 'crime_report_time'], axis=1, inplace=True)
denver_fact_table.head()

/home/zaid/.local/lib/python3.6/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,location_key,date_key,crime_key,IS_TRAFFIC,is_fatal,is_nighttime
0,dcd36c09-2095-4935-bac2-62bb9ba8738e,dd30cdbb-dd8a-4dc6-80e3-ba07407a4ff7,eea886bf-a231-425b-ad4c-769c101d4d82,0,0,1
1,dcd36c09-2095-4935-bac2-62bb9ba8738e,30cfd6cd-2f56-4da2-920e-09cc958fe766,7953ed57-16be-4527-9ca2-d8438cdb0a23,0,0,1
2,beb00ff6-50f9-47d4-b6ce-fccced9416df,c4f2a260-7bc4-4ba4-8961-240e13db85ae,a653f1ea-2c0c-4246-bc53-97db8031e9aa,0,0,1
3,94bb4127-7768-4ac9-bac2-9bf22d883ea4,10e79260-6164-4ac2-94c9-8dba650b1abd,22c71dbe-b6e8-4f40-8b44-21524725b093,0,0,1
4,63c820a1-a440-47ba-a3b9-c6005182d47a,c0a01024-1be7-4763-ad42-a6bd4737268f,c3b31f97-e639-4d21-b95c-1d6e4cfc60d7,0,0,1

In [64]:
denver_fact_table = denver_fact_table.rename(columns={"IS_TRAFFIC": "is_traffic"})
denver_fact_table.head()

,location_key,date_key,crime_key,is_traffic,is_fatal,is_nighttime
0,dcd36c09-2095-4935-bac2-62bb9ba8738e,dd30cdbb-dd8a-4dc6-80e3-ba07407a4ff7,eea886bf-a231-425b-ad4c-769c101d4d82,0,0,1
1,dcd36c09-2095-4935-bac2-62bb9ba8738e,30cfd6cd-2f56-4da2-920e-09cc958fe766,7953ed57-16be-4527-9ca2-d8438cdb0a23,0,0,1
2,beb00ff6-50f9-47d4-b6ce-fccced9416df,c4f2a260-7bc4-4ba4-8961-240e13db85ae,a653f1ea-2c0c-4246-bc53-97db8031e9aa,0,0,1
3,94bb4127-7768-4ac9-bac2-9bf22d883ea4,10e79260-6164-4ac2-94c9-8dba650b1abd,22c71dbe-b6e8-4f40-8b44-21524725b093,0,0,1
4,63c820a1-a440-47ba-a3b9-c6005182d47a,c0a01024-1be7-4763-ad42-a6bd4737268f,c3b31f97-e639-4d21-b95c-1d6e4cfc60d7,0,0,1

In [66]:
denver_fact_table_cols = denver_fact_table.columns.tolist()
denver_table_new_cols = denver_fact_table_cols[0:3] + [denver_fact_table_cols[5]] + [denver_fact_table_cols[4]] + [denver_fact_table_cols[3]]

denver_fact_table = denver_fact_table[denver_table_new_cols]

denver_fact_table.head()

,location_key,date_key,crime_key,is_nighttime,is_fatal,is_traffic
0,dcd36c09-2095-4935-bac2-62bb9ba8738e,dd30cdbb-dd8a-4dc6-80e3-ba07407a4ff7,eea886bf-a231-425b-ad4c-769c101d4d82,1,0,0
1,dcd36c09-2095-4935-bac2-62bb9ba8738e,30cfd6cd-2f56-4da2-920e-09cc958fe766,7953ed57-16be-4527-9ca2-d8438cdb0a23,1,0,0
2,beb00ff6-50f9-47d4-b6ce-fccced9416df,c4f2a260-7bc4-4ba4-8961-240e13db85ae,a653f1ea-2c0c-4246-bc53-97db8031e9aa,1,0,0
3,94bb4127-7768-4ac9-bac2-9bf22d883ea4,10e79260-6164-4ac2-94c9-8dba650b1abd,22c71dbe-b6e8-4f40-8b44-21524725b093,1,0,0
4,63c820a1-a440-47ba-a3b9-c6005182d47a,c0a01024-1be7-4763-ad42-a6bd4737268f,c3b31f97-e639-4d21-b95c-1d6e4cfc60d7,1,0,0

In [67]:
denver_fact_table.to_csv('./denver_fact_table.csv', index=False)