In [1]:
import pandas as pd
import numpy as np

from datetime import datetime, timedelta

In [2]:
coll_df = pd.read_csv('../Data/2017_Tabular_Transportation_Collision_Data.csv')[:50]

In [8]:
accident_fact_df = pd.DataFrame(columns=['Hour_Key','Location_Key','Accident_Key', 'Weather_Key', 'is_fatal', 
                                         'is_intersection'])

hour_df = pd.read_csv('../Data/hour_dimension.csv')
location_df = pd.read_csv('../Data/location_dimension.csv')
accident_df = pd.read_csv('../Data/accident_dimension.csv')
weather_df = pd.read_csv('../Data/weather_dimension.csv')

for idx, row in coll_df.iterrows():
    
    accident_fact_row = [hour_df.iloc[idx]['Hour_Key'],
                         location_df.iloc[idx]['Location_Key'],
                         accident_df.iloc[idx]['Accident_Key'],
                         weather_df.iloc[idx]['Weather_Key']]
    
    fatal_id = int(row['Collision_Classification'].split("-")[0].strip())
    intersection_id = int(row['Collision_Location'].split("-")[0].strip())
    
    accident_fact_row += [ 1 if fatal_id == 1 else 0 ,
                           1 if intersection_id == 3 else 0 ]
    
    accident_fact_df.loc[len(accident_fact_df)] = accident_fact_row

In [9]:
accident_fact_df.head()

  Hour_Key Location_Key Accident_Key Weather_Key is_fatal is_intersection
0      300          200          100         400        0               0
1      301          201          101         401        0               0
2      302          202          102         402        0               0
3      303          203          103         403        0               0
4      304          204          104         404        0               0

In [10]:
accident_fact_df.to_csv('../Data/accident_fact.csv', index=False)